*.class
*.pyc
*.pyo
captcha/*.jpg
.project
.settings/*
.DS_Store
webapp/js/config.js
application/config/database.php
temp
tests
output
templates/Thumbs.db
templates/Thumbs.db
json
sms.php
application/config/sms.php
