/*demo page css*/
body {
	font: 62.5% "Trebuchet MS", sans-serif;
	background:#dddddd;
}
.demoHeaders {
	margin-top: 2em;
}

#header {	
	height:150px;	
	background:#d7d5d5;
	border-bottom:1px solid #f78e1e;
}

#logo {
	width:988px;
	margin:0 auto;
}

#typechoice {	
	width:1024px;	
	margin:0 auto;
}

#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
ul#icons {
	margin: 0;
	padding: 0;
}
ul#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
ul#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

.list_container {
	padding: 15px;
	width: 480px;
	float: left;
}

.hide {
	display: none;
}

.hide_hard {
	color: #333;
}

ul {
	margin-top: 0px;
	padding-left: 0px;
}

ul#question_list_container {
	min-height: 10px;
	padding-left: 30px;
}

div#question_list_container {
	min-height: 10px;
}


#questions_container, #question_list_container {
	background-color: #fff;
	min-height:250px;
}

#questions_container li, #question_list_container li {
	color: #1f1f1f;
	font-size: 15px;
	font-weight: normal;
	list-style-type: disc;
	margin: 0;
	padding: 10px;
	border: none;
	background: transparent;
}


ul#questions_container ul {
	border-bottom:1px solid #F78E1E;
	font-size:18px;
	cursor:pointer;
}


ul#questions_container ul li.category_name {
	font-size:18px;
	font-weight:bold;
	border-bottom:none;
}

ul#question_list_container li {
	list-style-type: decimal;
	list-style: decimal;
}

ul#questions_container li:hover {
	background-color: #fef2e5;
	color: #000;
}

ul#question_list_container li.info {
	list-style-type: none;
	padding: 10px;
	margin: 0px;
	color: red;
	height: 25px;
}

div#question_list_container li {
	margin-left:32px;
}

div#question_list_container li {
	list-style-type: decimal;
	list-style: decimal;
}

div#question_list_container li.info {
	list-style-type: none;
	padding: 10px;
	margin: 0px;
	color: red;
	height: 45px;
}

.container_head {
	background-color: #F78E1C;
	padding: 10px;
	height: 100px;
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

.head_title {
	margin-bottom: 20px;
}

#error, .error {
	color: red;
}

#choose_list, #survey_type, #survey_standard, #survey_saved {
	padding: 10px;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

#survey_type, #survey_standard, #survey_saved {
	height: 50px;
}

#questions_container ul li.category_name, #question_list_container span.category_list_name {
	list-style: none;
	list-style-type: none;
	color: #F78E1C;
}

#question_list_container span.category_list_name {
	font-size: 18px;
	font-weight: bold;
	border-bottom:1px solid;
	display:block;
	margin-left:0;
	padding:10px; 0 10px 10px;
}

#question_list_container li {
    width: 405px;
}

#questions_container li {
	list-style: none;
	list-style-type: none;
	width: 435px;
}

#new_question_form label {
	width: 270px;
	margin-right: 10px;
	float: left;
	font-size: 15px;
	font-weight: bold;
}

#new_question_form input, #new_question_form select {
	width: 270px;
}

.left {
	float: left;
}

.right {
	float: right;
	display: inline;
}

.clear {
	clear: both;
}

.block {
	display: block;
	padding: 2px;
}

.target {
	padding-bottom: 25px;
	background-color: #FFB76A;
	box-shadow: 0px 1px 0px 0px #29A8E3;
	color: #FFF;
}

.target span {
	color: #FFF;
}

#questions_container ul li div.active_tooltip li, #questions_container ul li div.active_tooltip li:hover  {
	color: #FFF;
	background-color: #29A8E3;
	width:auto;
}

.tooltip {
	background-color: #29A8E3;
	color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.tooltip:hover {
	background-color: #29A8E3;
	color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.delete_button {
	background-image: url('../img/delete.png');
	width: 20px;
	height: 20px;
	float: right;
	display: block;
	margin-top: -28px;
   	z-index: 1000;
	cursor:pointer;
}

.add_button {
	background-image: url('../img/add.png');
	width: 20px;
	height: 20px;
	float: right;
	display: block;
	margin-top: -28px;
	z-index: 1000;
	cursor:pointer;
}

#questionnaire_controls {	
	display: inline;
}

DIV#login {
	background-color : #F78E1C;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-border-radius : 15px; 
	color : #FFF;
	font-size : 14px;
	font-weight : bold;
	margin : 40px auto 0 auto;
	padding : 20px;
	width : 600px;
}

#form_login {
	margin-top : 20px;
}

#form_login div {
	margin-top : 10px;
}

#form_login div label {
	display : block;
	float : left;
	margin-right : 35px;
	width: 130px;
}

#login_submit {
	background-color : #FFF; 
	border: 2px #F78E1C outset;
	border-radius : 15px;
	color : #F78E1C;
	font-size : 20px;
	font-weight : bold;
	margin-top : 20px;
	padding : 10px;
	width : 160px;
}

#login_submit:hover {
	border: 2px #F78E1C inset;
}

#login_options {
	margin-top : 20px;
}

#login_options a {
	color : #FFF;
	text-decoration : none;
}

#login_options a:hover {
	text-decoration : underline;
}


h1, h2 {
	color : #FFF;
	font-weight : bold;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }

.copyright{
    font-size:22px; 
    vertical-align:top;
}

DIV#loginfooter {
	position:relative;
    margin : auto;
    width : 600px;
    margin-top:20px;
    background:#fff;
	height:80px;
	padding:10px;
}

DIV#loginfooter p {
	font-size:16px;
	
}

a.registreer{
    background: #00A4E4;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 22px;
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
}

a:hover.registreer{
    text-decoration: underline;   
}

a.wachtwoordvergeten{
	position:absolute;
	right:10px;
	bottom:10px;
    color: #00A4E4;
    text-decoration: none;
    float: right;  
	
}

a:hover.wachtwoordvergeten{
    text-decoration: underline;   
}

#save_questionaire, #print_question_list, #save_question_list{
	display: none;
}

.required:after {
	color:#F78E1C;
	content: ' *';
}

#select_type_label, #select_standard_label, #select_saved_label {
	display: inline-block;
	padding:10px 0;
}


.inlogtabel tr, .regtabel tr {
height:25px;
}

.inlogtabel td {
min-width:100px;
}

table.regtabel {
margin-bottom:20px;
}
.regtabel td {
min-width:155px;
}

.editnew{
    background-image: url('../img/edit.png');
    width: 16px;
    height: 16px;
    margin: 2px;
    float: right;
    display: block;
    z-index: 1000;
    cursor:pointer;
}
