/*demo page css*/
body {
	font: 62.5% "Trebuchet MS", sans-serif;
}
.demoHeaders {
	margin-top: 2em;
}
#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
ul#icons {
	margin: 0;
	padding: 0;
}
ul#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
ul#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

.list_container {
	padding: 15px;
	width: 480px;
	float: left;
}

.hide {
	display: none;
}

.hide_hard {
	color: #333;
}

ul {
	margin-top: 0px;
	padding-left: 0px;
}

ul#question_list_container {
	min-height: 10px;
}

div#question_list_container {
	min-height: 10px;
}


#questions_container, #question_list_container {
	background-color: #F3F3F3;
}

#questions_container li, #question_list_container li {
	color: #29A8E3;
	font-size: 14px;
	font-weight: bold;
	list-style-type: disc;
	margin: 0;
	padding: 10px;
	border: none;
	background: transparent;
}

ul#question_list_container {
	padding-left: 30px;
}

ul#question_list_container li {
	list-style-type: decimal;
	list-style: decimal;
}

ul#questions_container li:hover {
	background-color: #FFB76A;
	box-shadow: 0px 1px 0px 0px #29A8E3;
	color: #FFF;
}

ul#question_list_container li.info {
	list-style-type: none;
	padding: 10px;
	margin: 0px;
	color: red;
	height: 25px;
}

div#question_list_container {
	padding-left: 30px;
}

div#question_list_container li {
	list-style-type: decimal;
	list-style: decimal;
}

div#question_list_container li.info {
	list-style-type: none;
	padding: 10px;
	margin: 0px;
	color: red;
	height: 25px;
}

.container_head {
	background-color: #F78E1C;
	padding: 10px;
	height: 20px;
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

#error, .error {
	color: red;
}

#choose_list, #survey_type {
	padding: 10px;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

#survey_type {
	height: 26px;
}

#questions_container ul li.category_name, #question_list_container span.category_list_name {
	list-style: none;
	list-style-type: none;
	color: #F78E1C;
}

#question_list_container span.category_list_name {
	font-size: 14px;
	font-weight: bold;
}

#question_list_container li {
    width: 405px;
}

#questions_container li {
	list-style: none;
	list-style-type: none;
	width: 435px;
}

#new_question_form label {
	width: 200px;
	margin-right: 10px;
	float: left;
	font-size: 15px;
	font-weight: bold;
}

#new_question_form input, #new_question_form select {
	width: 200px;
}

.left {
	float: left;
}

.right {
	float: right;
	display: inline;
}

.clear {
	clear: both;
}

.block {
	display: block;
	padding: 2px;
}

.target {
	padding-bottom: 25px;
	background-color: #FFB76A;
	box-shadow: 0px 1px 0px 0px #29A8E3;
	color: #FFF;
}

.target span {
	color: #FFF;
}

#questions_container ul li div.active_tooltip li, #questions_container ul li div.active_tooltip li:hover  {
	color: #FFF;
	background-color: #29A8E3;
}

.tooltip {
	background-color: #29A8E3;
	color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.tooltip:hover {
	background-color: #29A8E3;
	color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.delete_button {
	background-image: url('../img/delete.png');
	width: 20px;
	height: 20px;
	float: right;
	display: block;
	margin-top: -28px;
    z-index: 1000;
}

.add_button {
	background-image: url('../img/add.png');
	width: 20px;
	height: 20px;
	float: right;
	display: block;
	margin-top: -28px;
	z-index: 1000;
}

#questionnaire_controls {	
	display: inline;
}

#login {
	background-color : #F78E1C;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-border-radius : 15px; 
	color : #FFF;
	font-size : 14px;
	font-weight : bold;
	margin : auto;
	padding : 20px;
	width : 600px;
}

#form_login label {
	margin-top : 20px;
}
