/*demo page css*/
body {
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 50px;
}
.demoHeaders {
	margin-top: 2em;
}
#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
ul#icons {
	margin: 0;
	padding: 0;
}
ul#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
ul#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

.list_container {
	padding: 15px;
	margin: 15px;
	width: 500px;
	float: left;
}

.hide {
	display: none;
}

ul {
	margin-top: 0px;
	padding-left: 0px;
}

ul#question_list_container {
	min-height: 10px;
}

#questions_container, #question_list_container {
	background-color: #F3F3F3;
}

#questions_container li, #question_list_container li {
	color: #29A8E3;
	font-size: 14px;
	font-weight: bold;
	list-style-type: disc;
	margin: 0;
	padding: 10px;
	border: none;
	background: transparent;
}

ul#question_list_container li {
	list-style-type: decimal;
	list-style: decimal;
}

ul#questions_container li:hover {
	background-color: #FFB76A;
	box-shadow: 0px 1px 0px 0px #29A8E3;
	color: #FFF;
}

ul#question_list_container li.info {
	list-style-type: none;
	padding: 10px;
	margin: 0px;
	color: red;
	height: 25px;
}

.container_head {
	background-color: #F78E1C;
	padding: 10px;
	height: 20px;
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

#error, .error {
	color: red;
}

#choose_list, #survey_type {
	padding: 10px;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

#survey_type {
	height: 26px;
}

#questions_container li.category_name {
	list-style: none;
	list-style-type: none;
	color: #F78E1C;
}

#questions_container li {
	list-style: none;
	list-style-type: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}
